<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container movie-nav">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/movies">Movies<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop">shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">about</a>
        </li>      
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">contact us</a>
        </li>
      </ul>
    </div>
    <div class="form-inline my-2 my-lg-0">
      <a routerLink="/movies"> <img src="assets/images/M4k.png"></a>
    </div>    
  </div>
</nav>